$search-bar-border: #e6e6e6; 
$stats-color: #70757a; 
$clear-button-color: #d9d9d9; 
$background-color: #ffffff; 
$font-color: #000000; 
$logo-blue: #4885ed; 
$logo-red: #db3236; 
$logo-yellow: #ffc107; 
$logo-green: #3cba54; 
$link-color: #1a0dab; 
$link-visited-color: #609; 
$link-outline-color: #000000; 
$font-stack: "Roboto", Arial, sans-serif;

%flex {
    display: flex;
    align-items: center;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: $background-color;
    color:$font-color; 
    width: 100vw;
    min-height: 100vh;
    font-family: $font-stack;
   font-size: 22px;
}